@model OnlineStore.DATA.EF.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeerDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeerImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeerStyle.BeerStyle1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeerStyle.BeerStyle1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.PkgID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.PkgID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Status1)
        </dd>

    </dl>

    @* Add to Cart functionality in the UI *@
    <p>
        @using (Html.BeginForm("AddToCart", "Products", new { @bookID = Model.BeerStyleID }, FormMethod.Post, new { @class = "text-center" }))
        {
            @Html.HiddenFor(x => x.BeerStyleID)
            @*<span>Quantity: </span>*@
            @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display:inline;" })
            <input type="submit" class="btn btn-primary" value="Add to Cart" name="qty" />
        }
    </p>
</div>
<div class="col-md-6">
    <img src="~/Content/Labels/@Model.BeerImage" alt="Beer Label Image" title="@Model.BeerStyle" />
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BeerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
